__pycache__/
.DS_Store
.venv

benchmark/LogPPT/outputs/
benchmark/LogPPT/datasets/
benchmark/LogPPT/pretrained_models/
benchmark/UniParser/*_annotations*/
benchmark/UniParser/saved_states_*/
benchmark/UniParser/model/
benchmark/UniParser/summary_results_*.csv
benchmark/UniParser/infer_time_*.txt

2k_dataset*/
full_dataset*/

Session.vim
*.vim
tags
